asn1crypto==0.22.0
boto3==1.4.7
botocore==1.7.26
cffi==1.11.2
click==6.7
credstash==1.13.3
cryptography==2.0.3
docutils==0.14
idna==2.6
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
pycparser==2.18
python-dateutil==2.6.1
s3transfer==0.1.11
six==1.11.0
