# {{ alohomora_managed }}
ENV={{env}}
# The quotes in next statement are for a test on a bug
""{% if env == 'beta' %}
APP_KEY          = {{ lookup('alohomora_app_key') }}
DB_HOST          = beta.db.website.vpc
DB_PASSWORD      = {{ lookup('alohomora_db_password') }}
APP_SECRET       = {{ lookup('alohomora_app_secret')  }}
{% elif env == 'prod' %}
APP_KEY          = {{ lookup('alohomora_app_key')  }}
DB_HOST          = prod-common.db.website.vpc
DB_PASSWORD      = {{ lookup('alohomora_db_password')  }}
APP_SECRET       = {{ lookup('alohomora_app_secret')  }}
{% endif %}
env_test         = {{ ENV['README'] }}
